{% extends 'book_pages/base.html' %}
{% load crispy_forms_tags %}

{% block main_area %}
    <div class="container my-3">
      <div class="row justify-content-md-end">
          {% if user.is_authenticated and user == book.user %}
              <button type="button" style="border-radius: 20px; font-size: 0.9em"
                      onclick="location.href='{{ book.get_update_url }}'" class="btn btn-outline-info" >수정</button>
               &nbsp;
              <button type="button" style="border-radius: 20px; font-size: 0.9em"
                      onclick="fn_del_qna();" class="btn btn-outline-info" >삭제</button>
          {% endif %}
      </div>
      <div class="row justify-content-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font" style="font-size: 1.8em">{{ book.title }}</h5>
            <div class="author font" style="font:  0.9em gray;">By {{ book.author }}</div>
            <br>
            <div class="row justify-content-center">
                {% if book.image %}
                       <img src="{{ book.image.url }}" class="img-fluid rounded-start" alt="Card image cap">
              {% endif %}
            </div>
            <br>
              <div class="row justify-content-center" id= "{{ book }}"></div>
             <script>
                 for (let i = 0 ; i < {{ book.ratio }} ; i++) {
                    let rate = document.createElement('span');
                    rate.classList.add('fa');
                    rate.classList.add('fa-star');
                    rate.classList.add('checked');
                    let box = document.getElementById("{{ book }}");
                    console.log(box.id);
                    box.appendChild(rate);
                 }

                for (let i = 0; i < 5 - {{ book.ratio }}; i++) {
                    let rate = document.createElement('span');
                    rate.classList.add('fa');
                    rate.classList.add('fa-star');
                    let box = document.getElementById("{{ book }}");
                    console.log(box.id);
                    box.appendChild(rate);
                }
             </script>
             <br>
              {% if book.tags.exists %}
                {% for tag in book.tags.iterator %}
                         <button type="button" style="border-radius: 40px;" class="btn btn-outline-warning">{{ tag }}</button>
                    {% endfor %}
              {% endif %}
              <hr>
            <p class="card-text body">
                {{ book.content }}
            </p>
            <div class="create_date" style="font: italic 0.9em gray; color: gray">Posted by {{ book.user }} on {{ book.created_at }}</div>
           <div class="update_date" style="font: italic 0.9em gray; color: gray">Last Updated by {{ book.user }} on {{ book.updated_at }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments Form -->
    <div class="container my-3">
        {% if user.is_authenticated %}
            <div class="row justify-content-center">
                 <h5 style="font-size: 1.3em"> Leave a Comment</h5>
            </div>
            <hr/>
            <div class="row">
                <div class="card-body" style="padding-left: 120px">
                  <form class="form-horizontal"
                        id="comment-form" method="post" action="{{ book.get_absolute_url }}comment/">
                      {% csrf_token %}
                    <div class="row justify-content-sm-center">
                      <div class="form-group col-sm-8">
                           <div class="form-group font">
                                     {{ comment_form | crispy }}
                           </div>
                      </div>
                      <div class="col-sm-2 d-flex">
                          <button type="submit" class="btn btn-warning item align-self-center" style="border-radius:20px;">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        {% endif %}

        {% if book.comment_set.exists %}
              {% for comment in book.comment_set.iterator %}
                   <!-- Single Comment -->
                    <div class="d-flex" id="commentTable">
                        <div style="padding-left: 60px">
                                <button type="button" class="circle font" style="background-color: #f1c7c3" id="{{ user.pk }}_profile" >{{ comment.user }}</button>
                            </div>
                        <div class="col-md-8  item align-self-center">
                            <div class="" style="font-size: 0.8em">{{ comment.created_at }}</div>
                            <div class="font my-2" id="content-comment" style="display : block">
                                {{ comment.content | linebreaks }}
                            </div>
                            <!--수정 폼-->
                            <div id="hide" style="display : none">
                                <form class="comment-update" id = "comment-update" method="post" action="{{ book.get_absolute_url }}update_comment/{{ comment.pk }}/">
                                    {% csrf_token %}
                                    <div class="form-group font">
                                        {{ comment_form | crispy }}
                                    </div>
                                    <button type="button" style="border-radius: 20px; font-size: 0.9em" onclick="location.href='{{ book.get_absolute_url }}'"
                                            id = "comment-update-btn" class="btn btn-outline-info" >취소</button>
                                    <button type="submit" style="border-radius: 20px; font-size: 0.9em"
                                        id = "comment-update-btn" class="btn btn-outline-info" >완료</button>
                                </form>
                            </div>
                        </div>
                        {% if user.is_authenticated and user == comment.user %}
                            <div class="col-md-2  item align-self-center" style="display : inline-block" id="comment_btn">
                                <div class="row">
                                    <button type="button" style="border-radius: 20px; font-size: 0.9em" id="modify_btn" class="btn btn-outline-info" >수정</button>
                                    &nbsp;
                                    <button type="button" style="border-radius: 20px; font-size: 0.9em" id="delete_btn"
                          onclick="fn_del_comment({{ comment.pk }});" class="btn btn-outline-info" >삭제</button>
                                </div>
                            </div>
                       {% endif %}
                    </div>
              {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}