{% extends 'book_pages/base.html' %}
{% block main_area %}
    <div class="container my-3">
      <div class="row justify-content-md-end">
          {% if user.is_authenticated and user == book.user %}
              <button type="button" style="border-radius: 20px; font-size: 0.9em"
                      onclick="location.href='{{ book.get_update_url }}'" class="btn btn-outline-info" >수정</button>
               &nbsp;
              <button type="button" style="border-radius: 20px; font-size: 0.9em"
                      onclick="fn_del_qna();" class="btn btn-outline-info" >삭제</button>
          {% endif %}
      </div>
      <div class="row justify-content-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font" style="font-size: 1.8em">{{ book.title }}</h5>
            <div class="author font" style="font:  0.9em gray;">By {{ book.author }}</div>
            <br>
            <div class="row justify-content-center">
                {% if book.image %}
                       <img src="{{ book.image.url }}" class="img-fluid rounded-start" alt="Card image cap">
              {% endif %}
            </div>
            <br>
              <div class="row justify-content-center" id= "{{ book }}"></div>
             <script>
                 for (let i = 0 ; i < {{ book.ratio }} ; i++) {
                    let rate = document.createElement('span');
                    rate.classList.add('fa');
                    rate.classList.add('fa-star');
                    rate.classList.add('checked');
                    let box = document.getElementById("{{ book }}");
                    console.log(box.id);
                    box.appendChild(rate);
                 }

                for (let i = 0; i < 5 - {{ book.ratio }}; i++) {
                    let rate = document.createElement('span');
                    rate.classList.add('fa');
                    rate.classList.add('fa-star');
                    let box = document.getElementById("{{ book }}");
                    console.log(box.id);
                    box.appendChild(rate);
                }
             </script>
             <br>
              {% if book.tags.exists %}
                {% for tag in book.tags.iterator %}
                         <button type="button" style="border-radius: 40px;" class="btn btn-outline-warning">{{ tag }}</button>
                    {% endfor %}
              {% endif %}
              <hr>
            <p class="card-text body">
                {{ book.content }}
            </p>
            <div class="create_date" style="font: italic 0.9em gray; color: gray">Posted by {{ book.user }} on {{ book.created_at }}</div>
           <div class="update_date" style="font: italic 0.9em gray; color: gray">Last Updated by {{ book.user }} on {{ book.updated_at }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments Form -->
    <div class="row">
      <h5 style="font-size: 1.3em"> Leave a Comment</h5>
    </div>
{% endblock %}