{% extends 'book_pages/base.html' %}

{% block main_area %}
  <!--태그 목록-->
    <div class="container my-3">
      <div class="row justify-content-center">
            {% for tag in tag_list %}
                    <button type="button" style="border-radius: 40px" class="btn btn-outline-warning body"
                            onclick="fn_tag_delete( '{{ tag.get_absolute_url }}', '{{ tag.user }}');">{{ tag }}</button>
            {% endfor %}
           {% if user.is_authenticated and equals_user %}
             <button type="button" style="border-radius: 50px; width: 35px; height: 35px; font-size: 0.7em" onclick="location.href='{% url 'tag_create' %}'" class="btn btn-outline-warning">+</button>
           {% endif %}
      </div>
    </div>

  <!--나의 책장-->
    <h1 class="title" style="color: #645247">{{ user }}'s BOOKSHELF</h1>
    {% if item_page %}
        <div class="container my-3">
          <div class="row justify-content-center">
              {% for item in item_page %}
                <div class="col-md-5">
                    <div class="card mb-3" style="max-width: 500px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                            {% if item.image %}
                                  <img src="{{ item.image.url }}" class="img-fluid rounded-start" alt="Card image cap">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title font" style="font-size: 1.1em">{{ item.title }}</h5>
                            <p class="card-text">
                                 <div id= "{{ item }}"></div>
                                 <script>
                                     for (let i = 0 ; i < {{ item.ratio }} ; i++) {
                                        let rate = document.createElement('span');
                                        rate.classList.add('fa');
                                        rate.classList.add('fa-star');
                                        rate.classList.add('checked');
                                        let box = document.getElementById("{{ item }}");
                                        console.log(box.id);
                                        box.appendChild(rate);
                                     }

                                    for (let i = 0; i < 5 - {{ item.ratio }}; i++) {
                                        let rate = document.createElement('span');
                                        rate.classList.add('fa');
                                        rate.classList.add('fa-star');
                                        let box = document.getElementById("{{ item }}");
                                        console.log(box.id);
                                        box.appendChild(rate);
                                    }
                                 </script>
                               <a href=" {{ item.get_absolute_url }}" class="btn btn-outline-warning" style="border-radius:40px; font-size: 0.8em">More</a>
                              </div>
                            </p>
                          </div>
                        </div>
                      <div class="card-footer text-muted">
                             {% for tag in item.tags.iterator %}
                                    <button type="button" style="border-radius: 40px; color:#423e3e; font-size: 0.9em" class="btn btn-warning" >{{ tag }}</button>
                                 {%  endfor %}
                      </div>
                      </div>
                </div>
                {% endfor %}
          </div>
        </div>
        <div class="row">
          {% if item_page.has_other_pages %}
                        <div class="btn-group" role="group" aria-label="Item pagination">
                            {% if item_page.has_previous %}
                                <a href="?page={{ item_page.previous_page_number }}" class="btn btn-outline-warning">&laquo;</a>
                            {% endif %}

                            {% for page_number in item_page.paginator.page_range %}
                                {% if item_page.number == page_number %}
                                    <button class="btn btn-outline-warning active">
                                        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                                    </button>
                                {% else %}
                                    <a href="?page={{ page_number }}" class="btn btn-outline-warning">
                                        {{ page_number }}
                                    </a>
                                {% endif %}
                            {% endfor %}

                            {% if item_page.has_next %}
                                <a href="?page={{ item_page.next_page_number }}" class="btn btn-outline-warning">&raquo;</a>
                            {% endif %}
                        </div>
                        {% endif %}
        </div>
     {% else %}
         <div class="container my-3">
          <div class="row justify-content-center">
                 <h5 class="font" style="color:#797474"> 아직 추가된 책이 없습니다. </h5>
          </div>
        </div>
     {% endif %}

    <!-- 이웃 목록 -->
    {% if user.is_authenticated and equals_user %}
            <div class="container my-4">
                <div class="row justify-content-center">
                    <h2 class="title" style="color: #4e555b;font-size: 2.3em"> Friend's Bookshelf </h2>
                </div>
                 <hr/>
                <div class="row justify-content-md-end">
                    <button type="button" style="border-radius: 50%; width: 32px; height: 32px; font-size: 0.7em" data-toggle="modal" data-target="#follow_modal"
                                            class="btn btn-outline-warning font item align-self-center" onclick="{% url 'follow' %}">+</button>
                </div>
            </div>
            <div class="container">
              <div class="row justify-content-center d-flex">
                    {% for user in neighbors %}
                          <div class="col-md-2 justify-content-center text-center">
                            <button type="button" class="circle font" id="{{ user.pk }}_profile"
                            onclick="location.href='/book?user={{ user }}'">{{ user }}</button>
                            <script>
                                var R = Math.floor((Math.random() * 127) + 127);
                                var G = Math.floor((Math.random() * 127) + 127);
                                var B = Math.floor((Math.random() * 127) + 127);

                                var rgb = (R << 16) + (G << 8) + B;
                                var colorCode = "#" + rgb.toString(16);
                                document.getElementById({{ user.pk }} + "_profile").style.background = colorCode;
                            </script>
                          </div>
                    {% endfor %}
                  </div>
              </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="follow_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font" id="exampleModalLongTitle">Search User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="search-content">
                <form class="d-flex">
                    {% csrf_token %}
                        <input name="username" class="form-control me-2 " type="search" placeholder="search user name to follow" aria-label="Search">
                        <button class="btn btn-outline-success" type="button" id="search-modal">🔍</button>
                </form>
                <div class="row my-3 justify-content-center">
                    <div id="d2"></div>
                </div>

          </div>
          <script>
              $(document).ready(function(){
                    $('#search-modal').click(function(){
                        let sendData = "username="+$('input[name=username]').val();
                        $.ajax({
                            type:'get',
                            url:'/book/neighbor/search/',
                            data: sendData,
                            dataType:'json',
                            success : function(data){
                                let bt = document.createElement('button')
                                bt.innerText = data['user'] + " : " + data['email']
                                bt.type = 'submit';
                                bt.classList.add('btn');
                                bt.classList.add('btn-outline-secondary');
                                bt.style.cssText = 'border-radius: 40px;width: 450px';
                                bt.onclick = function (){
                                      var res = confirm('사용자를 팔로우 하시겠습니까?');
                                      if(res){
                                        window.location.href = "/book/neighbor/add/?user="+ data['user']
                                        alert("이웃으로 추가되었습니다.");
                                      }
                                }
                                $('#d2').html(bt);
                            },
                            error : function(request,status,error) {
                                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                            }
                        });

                    });
              });

          </script>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}
